<div class="container">
	<hr>
	<section class="float-left">
		&copy; 2017. SAHONG PAK all rights reserved.
	</section>
	<section class="float-right">
		<a href="http://blog.rebforpwn.com">
			<img src="{{ site.url }}/assets/img/rebforpwn.png" alt="RebForPwn" height="32" width="100">
		</a>

		<a href="http://">
		<img src="{{ site.url }}/assets/img/github.svg" alt="github" height="32" width="32">
		</a>

		<a href="mailto:k3y6reak@naver.com">
		<img src="{{ site.url }}/assets/img/mail.svg" alt="mail" height="32" width="32">
		</a>
	</section>
</div>