<div class="container">
  <nav class="navbar navbar-default navbar-toggleable-md navbar-light bg-white">
    <a class="navbar-brand" href="/index.html">K3Y6REAK</a>
    <button class="navbar-toggler hidden-lg-up navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
  &#9776;
  </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
      <ul class="navbar-nav active">
        <li class="nav-item">
          <a class="nav-link" href="/about.html">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"   aria-expanded="false">
            Programming
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/programming/c">C</a>
            <a class="dropdown-item" href="/programming/cpp">C++</a>
            <a class="dropdown-item" href="/programming/python">Python</a>
            <a class="dropdown-item" href="/programming/ruby">Ruby</a>
          </div>
          
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"   aria-expanded="false">
            High Level Technique
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/technique/reversing">Reversing</a>
            <a class="dropdown-item" href="/technique/system_hacking">System Hacking</a>
            <a class="dropdown-item" href="/technique/web_hacking">Web Hacking</a>
            <a class="dropdown-item" href="/technique/shellcoding">Shellcoding</a>
            <a class="dropdown-item" href="/technique/windows_system">Windows System</a>
            <a class="dropdown-item" href="/technique/windows_forensic">Windows Forensic</a>
            <a class="dropdown-item" href="/technique/linux_forensic">Linux Forensic</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"   aria-expanded="false">
            Wargame
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/wargame/reversing_kr">reversing.kr</a>
            <a class="dropdown-item" href="/wargame/pwnable_kr">pwnable.kr</a>
            <a class="dropdown-item" href="/wargame/wargame_kr">wargame.kr</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ctfs">CTFs</a>
        </li>
      </ul>
    </div>
  </nav>
</div>