.highlight {
	margin:auto;
	width:80%;
}
.highlight pre { 
	padding:20px;
	border-radius: 10px;
	background-color: #272822; 
}

.highlight .cp {
	color: #FF8000;
}

.highlight .se {
	color: #FF8000;
}

.highlight .kt {
	color: #2E9AFE;
}

.highlight .nf {
	color: #FFFFFF;
}

.highlight .s {
	color: #FF8000;
}

.highlight .p {
	color: #FFFFFF;
}

.highlight .mi {
	color: #81F79F;
}

.highlight .n {
	color: #FFFFFF;
}

.highlight .k {
	color: #2E9AFE;
}

.language-bash{
	color: #FFFFFF;
}

.language-bash .k{
	color: #FFFFFF;
}
.highlight .gp {
	color: #DF0101;
}